
@import url('https://fonts.googleapis.com/css2?family=Lusitana:wght@400;700&display=swap');


body{
    margin: auto;
    background-color: rgb(12, 12, 12);
    padding: 0px;
    margin: 0px;
    font-family: 'Lusitana', serif;

}
 


 .mainsec{
     width: 100% auto;
     background-color: rgb(12, 12, 12);
     padding: 20px;
     margin-top: 4%;
     
 }

.text{
    font-size: 28px;
color: rgb(230, 230, 230);
}


.sec2{
    display: flex;
    justify-content: center;
} 
 .sec2{
     width: 80% auto;
     display: flex;
     justify-content: center;
 }
 #secc{
     width: 95%;
     margin: 5px;
 }
 #dr{
    background: -webkit-linear-gradient(left, #f73b83, #dd0e0e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
 }

 #be{
    background: -webkit-linear-gradient(left,#006eff, #69aaff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }
 #li{
    background: -webkit-linear-gradient(left,#b65cff, #66abff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }
 #re{
    background: -webkit-linear-gradient(left, #ff9100, #ff2c2c );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }
 #so{
    background: -webkit-linear-gradient(left,#08d5f0, #00d640);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }
 .secc4{
    width: 500px;
    height: 250px;
    background-image: url('aa.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
 .secc3{
     width: 500px;
     height: 250px;
     background-image: url('cc.png');
     background-repeat: no-repeat;
     background-position: center;
     background-size: contain;
 }
 .secc2{
    width: 500px;
    height: 250px;
    background-image: url('dd.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.secc1{
    width: 500px;
    height: 250px;
   background-image: url('ee.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.link{
    text-decoration: none;
}
 @media (max-width: 1200px){
    .sec2{
        flex-direction: column;
    }
    .sec1{
       padding: 10px;
    }

}
 
