
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

 

body{
    margin: auto;
    background-color: #fff9f0;
    padding: 0px;
    margin: 0px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;

}
.mainheading{
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: rgb(26, 26, 26);
    padding-bottom: 26px;
}


 .mainsec{
     width: 100% auto;
     padding: 20px;
     margin-top: 4%;
     
 }

.text{
    font-size: 18px;
color: rgb(26, 26, 26);
}


.sec1{
    width: 80% auto;
    display: flex;
    justify-content: center;
} 
 .sec2{
     width: 80% auto;
     display: flex;
     justify-content: center;
 }
 #secc{
     width: 95%;
     margin: 5px;
 }
 #dr{
    background: -webkit-linear-gradient(left, #ff1a72, #da0000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
 }

 #be{
    background: -webkit-linear-gradient(left,#0050b8, #4596ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }
 #li{
    background: -webkit-linear-gradient(left,#9615ff, #1780ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }
 #re{
    background: -webkit-linear-gradient(left, #ec8600, #ee0000 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }
 #so{
    background: -webkit-linear-gradient(left,#00aec5, #00992e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }
 .secc6{
    width: 500px;
    height: 250px;
    background-image: url('gg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
 .secc5{
    width: 500px;
    height: 250px;
    background-image: url('ff.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
 .secc4{
    width: 500px;
    height: 250px;
    background-image: url('aa.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
 .secc3{
     width: 500px;
     height: 250px;
     background-image: url('cc.png');
     background-repeat: no-repeat;
     background-position: center;
     background-size: contain;
 }
 .secc2{
    width: 500px;
    height: 250px;
    background-image: url('dd.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.secc1{
    width: 500px;
    height: 250px;
   background-image: url('ee.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.link{
    text-decoration: none;
}
 @media (max-width: 1200px){
    .sec2{
        flex-direction: column;
    }
    .sec1{
       padding: 10px;
    }

}
 
