body {
  padding: 0px;
  margin: 0px;
  background-color: black;
}

.main-wrap {
  width: 95%;
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 3500px;
  padding: 10px;
  background-color: black;
}

#zero1 {
  background-image: url('nikola-potrait.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
}

#zero2 {
  background-image: url('nikola-genius.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
}

#zero3 {
  background-image: url('nikola-rivalry.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
}

#zero4 {
  background-image: url('nikola-struggle.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
}

#zero5 {
  background-image: url('nikola-celebrity.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
}

#zero6 {
  background-image: url('nikola-success.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
}

.bg-let {
  margin: auto;
  width: 95%;
  text-align: center;
}

.bg-letter {
  font-family: 'Beth Ellen', cursive;
  color: white;
  font-size: 30px;
}

.back-ground, #particles-js {
  margin: auto;
  align-self: center;
  display: flex;
  width: 90%;
  height: 95%;
  z-index: +1;
  background-color: black;
  position: fixed !important;
}

.#particles-js {
  margin: auto !important;
}

canvas {
  position: fixed !important;
  align-self: center !important;
  margin-left: -5%;
}

.pic-info {
  display: flex;
  width: 90%;
  margin: auto;
  height: 1000px;
  background-color: black;
  padding-top: 5%;
  padding-bottom: 5%;
}

.pic-wrap {
  padding-top: 60%;
  z-index: +2;
}

#head {
  font-family: 'Noto Serif', serif;
  font-weight: bold;
  font-size: 40px;
  color: white;
}

#body {
  font-family: 'Noto Serif', serif;
  font-size: 25px;
  color: white;
}

.img {
  width: 48%;
  height: 50%;
  background-color: black;
  position: -webkit-sticky;
  position: sticky;
  top: 20%;
  bottom: 30%;
}

.info {
  width: 48%;
  height: 95%;
  background-color: black;
}

.bg-letter, body {
  -webkit-animation: fade-in 4s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2s both;
  animation: fade-in 4s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2s both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.on-mob {
  display: none !important;
}

@media only screen and (max-width: 1100px) {
  .on-mob {
    display: block !important;
    z-index: +10;
    margin: auto;
    width: 100%;
    height: 5000px;
    position: fixed;
    background-color: black;
    padding-top: 30px;
  }

  #on-text {
    color: white;
    margin: auto;
    text-align: center;
    font-size: 30px;
  }

  #on-text2 {
    margin-top: 20px;
    color: white;
    margin: auto;
    text-align: center;
    font-size: 25px;
    text-decoration: none;
  }

  .mob-div {
    margin: auto;
    text-align: center;
    padding-top: 30px;
  }

  #head {
    font-size: 22px;
    padding-left: 20px;
  }

  #body {
    font-size: 18px;
    padding-left: 20px;
  }
}
