html {
  scroll-behavior: smooth;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: 'Nunito Sans', sans-serif !important;
}

.card {
  padding: 5px;
  transition: transform .6s;
  overflow: hidden;
  margin: auto;
}

.card:hover {
  transform: scale(1.1);
}

.bg-light {
  background-color: none !important;
}

a {
  text-decoration: none !important;
}

a {
  color: black !important;
}

.card-text p {
  text-decoration: none !important;
  color: black !important;
}

.sec1-heading {
  margin: auto;
  width: 100%;
  overflow: hidden;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
}

.card {
  border-radius: 0% !important;
  border-color: black !important;
  cursor: pointer;
}

#s1h {
  font-size: 30px;
  font-weight: bold;
  margin: auto;
}

#s1ok {
  font-size: 30px;
  font-weight: bold;
  margin: auto;
}

#ll1, #ll1energy {
  font-size: 20px;
  margin-top: 5px;
}

#ll1energy {
  color: red !important;
}

.navwrap {
  width: 100%;
  overflow: hidden;
  margin: auto;
  z-index: +100 !important;
  position: fixed;
}

.nav-wrap1 {
  display: flex;
  overflow: hidden;
  padding-top: 5px;
}

.carousel-indicators li {
  width: 10px !important;
  height: 10px !important;
  border-radius: 100%;
}

.carousel-indicators {
  left: none !important;
  margin-left: 70% !important;
  margin-right: 0% !important;
}

.carousel-control-next {
  z-index: -1 !important;
}

.carousel-control-prev {
  z-index: -1 !important;
}

.section-1 {
  width: 100%;
  margin: auto;
  padding-bottom: 50px;
}

.nav-link {
  color: black;
}

.navbar-fixed-top.scrolled {
  background-color: black !important;
  transition: background-color 200ms linear;
}

.navbar-fixed-top.scrolled .nav-link {
  color: white;
}

.navbar-fixed-top {
  background-color: #f8f9fa7a;
}

.sec1-head {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

#card1, #card2, #card3, #card4, #card5 {
  margin: 10px;
}

#road {
  background-image: url('tesla-car.jpg');
  background-position: center;
}

.section2 {
  width: 100%;
  margin: auto;
  height: 620px;
  background-image: url('solar.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#sec4 {
  height: 400px !important;
}

#sec2 {
  background-image: url('teslaroofmain.jpg');
}

#sec3 {
  background-image: url('teslaroof.png');
  background-size: cover;
  margin-top: -50px !important;
}

#place3 {
  color: white;
  font-size: 20px;
}

.formwrap {
  width: 80%;
  margin: auto;
}

.btn-primary {
  border-color: black !important;
  color: black !important;
  background-color: #f8f9fa00 !important;
  border-radius: 0% !important;
}

.btn-primary:hover {
  border-color: #f8f9fa00 !important;
  color: white !important;
  background-color: black !important;
}

#btnbtn {
  width: 160px;
  margin: auto;
  border: 1px solid white;
  color: white;
  background-color: #f8f9fa00;
  border-radius: 25px;
  text-align: center;
  cursor: pointer;
}

p {
  padding: 5px !important;
  margin-bottom: 0px !important;
}

#btnbtn:hover {
  transition: 0.3s;
  border-color: #f8f9fa00 !important;
  color: black !important;
  background-color: white !important;
}

.solar-btn {
  margin: auto;
  align-items: center;
  width: 40%;
  display: flex;
  flex-direction: row;
}

.solar-btn1 {
  margin: auto;
  width: 100%;
  align-items: center;
}

.formwrap {
  padding: 30px;
  border: 1px solid black;
}

.footer {
  width: 100%;
  margin: auto;
  height: 40px;
}

#fot1 {
  padding-top: 20px;
  text-align: center;
}

#sh {
  padding-top: 200px;
}

#shok {
  padding-top: 200px;
}

.s1h1 {
  color: white;
}

#sec4 {
  background-image: url('powerbank.png');
  background-position: bottom;
  padding-top: 10%;
}

.power-wrapper {
  width: 40%;
  overflow: hidden;
  margin: auto;
  text-align: center;
  background-color: #ffffffcc;
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 10px;
  padding-right: 10px;
}

#s1h {
  color: black;
}

#s1ok {
  color: white !important;
}

#fot11 {
  color: white;
  margin: auto;
  text-align: center;
}

.caro {
  width: 100%;
  margin: auto;
  padding: 10px;
  text-align: center;
}

.scaro {
  color: white;
  font-size: 30px;
  font-weight: bold;
}

#sec5 {
  background-image: url('hero.jpg');
  background-position: center;
  background-size: cover;
  padding-top: 150px;
}

#fw {
  background-color: white !important;
}

#rl {
  background-color: black;
}

#roadblack {
  width: 100%;
  background-image: url('blackcar.jpg');
  background-position: center;
  background-size: cover;
  background-color: black;
  background-repeat: no-repeat;
}

#pw {
  background-color: #ffffff91;
}

#s1ho {
  font-size: 30px;
  font-weight: bold;
}

.bts {
  color: white !important;
}

.bts:hover {
  color: black !important;
}

@media only screen and (max-width: 1000px) {
  .carousel-wrapper {
    margin-top: 50px;
  }

  .scaro {
    color: white;
    font-size: 30px;
    font-weight: bold;
  }

  #no-margin {
    margin-top: -5px !important;
  }

  .power-wrapper {
    width: 75%;
    overflow: hidden;
  }

  .navwrap {
    margin-top: -60px;
  }

  .navbar-fixed-top {
    background-color: #f8f9fa00;
  }

  .section1 {
    margin: auto !important;
  }

  .section2 {
    margin-top: 50px;
  }

  #sec4 {
    margin-top: -50px !important;
  }

  .sec1-head {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #ll1, #ll1energy {
    font-size: 15px;
  }

  .navbar {
    height: 70px !important;
  }

  .formwrap {
    width: 100%;
  }
}

.blacktext {
  color: black !important;
}

.section9 {
  margin: auto;
  width: 80%;
  overflow: hidden;
  background-color: black;
}

@media only screen and (max-width: 600px) {
  .solar-btn {
    display: flex;
    flex-direction: column;
  }

  .power-wrapper {
    width: 90%;
    overflow: hidden;
  }

  #place3 {
    padding: 10px !important;
    color: white;
  }

  #btnbtn {
    margin: 10px !important;
    margin: auto;
  }
}
