html {
  background-color: black;
}
body {
  padding: 0px;
  margin: 0px;
  font-family: 'Bai Jamjuree', sans-serif;
}

#linkok{
  color: white;
}
#be{
  color: white;
  font-size: 1.5rem;
}
.icon{
  display: flex;
  float: right;
  width: 40% auto;
}
#topl{
  color: black;
}
.dribbble{
  overflow: hidden;
  padding: 5px;
  background-color: black;
  margin-right: 10px;
}
.behance{
  overflow: hidden;
  padding: 5px;
  background-color: black;
  margin-right: 10px;
}
.github{
  overflow: hidden;
  padding: 5px;
  background-color: black;
  margin-right: 10px;
}

@media (max-width: 370px) {
  #dis-non {
    display: none;
  }
}

a {
  text-decoration: none;
  color: white;
}

.back {
  height: 60px;
  width: 50px;
  float: left;
  background-image: url('back-white.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.place-holder {
  width: 100%;
  overflow: hidden;
  margin: auto;
  margin-top: 50px;
  background-color: black;
}

.holder {
  width: 100%;
  margin: auto;
  height: 700px;
  background-color: black;
  display: flex;
  flex-direction: column;
}

.main-name {
  width: 100%;
  overflow: hidden;
  background-color: black;
}

.holder {
  width: 90%;
  margin: auto;
}

.sub-holder {
  width: 100%;
  overflow: hidden;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.main-info {
  width: 100%;
  overflow: hidden;
  background-color: #ffffff00;
}

.main-info1 {
  width: 100%;
  overflow: hidden;
  background-color: black;
  display: flex;
}

.button2 {
  width: 100%;
  height: 60px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.fas {
  padding-top: 5px;
  padding-bottom: 5px;
}

#name {
  font-size: 65px;
  font-weight: 700;
  margin: 0px;
  color: white;
}

#info2019 {
  margin-top: 20px;
  font-size: 30px;
  color: white;
}

#loc {
  font-size: 25px;
  margin: 0px;
  margin-left: 10px;
  font-family: 'Bai Jamjuree', sans-serif;
  color: white;
}

#loc1 {
  font-size: 25px;
  color: white;
}

.but-wrap {
  float: right;
  width: 400px;
  overflow: hidden;
  display: flex;
}

.pro {
  width: 45%;
  margin: auto;
  height: 61px;
  border: 1px solid white;
  text-align: center;
  transition: 0.6S;
  margin-right: 10px;
  margin-left: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

.pro:hover {
  border: 1px solid white;
  border-radius: 30px;
  cursor: pointer;
}

.res:hover {
  border: 1px solid white;
  border-radius: 30px;
  cursor: pointer;
}

.res {
  width: 45%;
  margin: auto;
  height: 61px;
  border: 1px solid white;
  text-align: center;
  transition: 0.6S;
  margin-right: 10px;
  margin-left: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

#inside-box {
  font-size: 20px;
  transition: 0.6s;
  padding: none;
  margin: none;
}

#inside-box1 {
  font-size: 20px;
  transition: 0.6s;
  padding: none;
  margin: none;
}

.but-wrap {
  -webkit-animation: fade-in 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1.5s both;
  animation: fade-in 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1.5s both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#loc {
  -webkit-animation: fade-in 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1.3s both;
  animation: fade-in 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1.3s both;
}

.main-name, .main-info {
  -webkit-animation: fade-in 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s both;
  animation: fade-in 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fas {
  -webkit-animation: fade-in-top .8s cubic-bezier(0.390, 0.575, 0.565, 1.000) .8s both;
  animation: fade-in-top .8s cubic-bezier(0.390, 0.575, 0.565, 1.000) .8s both;
}

@-webkit-keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 1400px) {
  .holder {
    height: 500px;
  }
}

@media (max-width: 600px) {
  .but-wrap {
    margin: auto;
    width: 100%;
  }
}

@media (max-width: 500px) {
  #no-dis {
    display: none;
  }
  #inside-box {
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  .icon {
    padding-bottom: 10px;
  }
}
